@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --firstcolor: #FFD12D;
    --secondcolor: #05AED3;
}
body{
    width: 100%;
    height: 180vh;
    background-color: var(--firstcolor);
    position: relative;
    overflow: hidden;
}
.imageBG{
    width: 100%;
    height: 180vh;
    background: url(images/Background.png) no-repeat bottom center scroll;
    background-size: cover;
}
/* --- WEBPAGE --- */
.container{
    width: 100%;
    height: 180vh;
    background-color: var(--secondcolor);
    border-radius: 600px 0 0 0;
    padding: 0 45px;
}
.container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.container nav .navlinks ul{
    display: flex;
    gap: 80px;
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
}
.container nav .navlinks ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}
.container nav .navlinks ul li{
    transition: .5s;
}
.container nav .navlinks ul li:hover{
    transform: scale(105%);
    transition: .2s;
}.container nav .navlinks ul li:hover:nth-child(1){
    transform: scale(100%);
}
.container nav .logo img{
    z-index: 10;
    cursor: pointer;
    width: 150px;
    height: auto;
    transition: .2s;

}.container nav .logo img:hover{/* HOVER LOGO */
    transform: scale(105%);
}
#home{ /* -- link home selected */
    text-align: center;
    position: relative;
    background-color: var(--firstcolor);
    padding: 20px 40px;
    border-radius: 50px;
    color: var(--secondcolor);
}#home:hover{
    transform: none;
}

#home::after{
    content: '';
    width: 10px ;
    height: 10px;
    display: block;
    background-color: var(--secondcolor);
    border-radius: 50%;
    position: absolute;
    left: 47%;
}
.container nav .login{
    background-color: var(--firstcolor);
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s;
}
.container nav .login a{
    text-decoration: none;
    color: var(--secondcolor);
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
}
.container nav .login:hover{
    transform: scale(105%);
}
.menu img, .closeMenu img{
    width: 30px;
    height: auto;
    display: none;
    cursor: pointer;
    transition: all ease-in-out .5s;
}
.closeMenu img{
    width: 15px;
}


/* Content page */
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .infocharacter h1{
    font-size: 10em;
    text-transform: uppercase;
    color: var(--firstcolor);
}

main .infocharacter p{
    width: 590px;
    color: #fff;
    margin-top: -10px;
}
main .character img{
    max-width: 550px;
    min-width: 350px;
}

main .playButton{
    cursor: pointer;
    position: relative;
}
main .playButton::after{
    content: '';
    width: 5px;
    height: 150px;
    border-radius: 5px;
    background-color: var(--firstcolor);
    display: block;
    position: absolute;
    left: 46%;
    top: 155px;
}
main .playButton::before{
    content: '';
    width: 5px;
    height: 150px;
    border-radius: 5px;
    background-color: var(--firstcolor);
    display: block;
    position: absolute;
    left: 46%;
    top: -170px;
}



footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer h2{
    color: #fff;
    margin-bottom: 20px;
}

footer .characters{
    display: flex;
    gap: 40px;
}

footer .characters img{
    width: 80px;
    transition: .2s;
    cursor: pointer;
}
footer .characters img:hover{
    transform: scale(110%);
}

.assinatura{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: .5em;
    color: var(--secondcolor);
    background-color: var(--firstcolor);
    padding: 10px;
    border-radius: 50px;
}


@media only screen and (max-width:1340px) {
    body{
        height: 180vh;
        overflow: scroll;
    }
    main{
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
        
    }
    main .infocharacter{
        order: 2;
        margin: -180px;
        z-index: 10;
    }main .infocharacter p{
        font-size: 1.3em;
        text-align: center;
    }
    main .character{
        order: 1;
        z-index: 20;
    }
    main .playButton{
        order: 4;
        margin-top: 250px;
    }


    /* PLAY BTN */
    main .playButton::after{
        width: 150px;
        height: 5px;
        left: -200px;
        top: 50%;
    }
    main .playButton::before{
        width: 150px;
        height: 5px;
        left: 185px;
        top: 50%;
    }
}

@media only screen and (max-width: 1080px){
    .container nav .navlinks ul li a {
        font-size: 1em;
    }

    .container nav .login a{
        font-size: 1em;
    }
    .container nav .navlinks ul{
        display: flex;
        gap: 40px;
        list-style: none;
        text-transform: uppercase;
        font-weight: 700;
    }
}

@media only screen and (max-width: 890px){
    body{
        overflow: hidden;
    }
    .menu img{
        display: block;
    }
    .container nav {
        justify-content: space-around;
    }
    .container nav .navlinks ul{
        position: absolute;
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: -400px;
        right: 0;
        transition: all ease-in-out .5s;
        display: none;
    }
    main .infocharacter h1{
        font-size: 9em;
        text-align: center;
    }
    main .infocharacter p{
        width: 80%;
    }


}