@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}




/*HEADER*/
header{
    background-color: black;
    color: #fff;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header p{
    padding-bottom: 50px;
}

a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    
}

a:hover{
    text-decoration: underline;
}






/*SECTIONS*/
section{
    padding: 10vh 0 10vh 30px;
    line-height: 2em;
}
.normal{
    background-color: #fff;
}

.imagem{
    background-color: rgb(32, 32, 32);
    color: #fff;
}
.imagem p{
    background-color: rgba(0, 0, 0, 0.308);
    width: 400px;
}








/*FOOTER*/
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}