@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@font-face {
    font-family: 'Arkit';
    src: url(font/arkit-heavy.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
}

header{
    width: 100%;
    height: 66.5vh;
    background-color: #404EED;
    overflow: hidden;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 345px;
    font-size: .95em;
}
header nav .logo{
    width: 130px;
    cursor: pointer;
}
header nav .links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}
header nav .links ul li a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
header nav .loginBtn a{
    color: #23272A;
    text-decoration: none;
    font-weight: 500;
    background-color: #fff;
    padding: 10px 18px;
    border-radius: 30px;
    font-size: .8em;
}


/* HOVER EFFECTS NAV */
header nav .links ul li a:hover{
    text-decoration: underline;
} 
header nav .loginBtn a:hover {
    color: #404EED;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);
}




/* CONTENT HEADER */
svg{
    width: 20px;
    margin-right: 20px;
}

header .contentHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin-top: 155px;
    position: relative;
    overflow: hidden;
}
header .contentHeader #mountains{
    width: 100%;
    position: absolute;
    z-index: 2;
}
header .contentHeader #image-left{
    position: absolute;
    right: 68.4%;
    bottom: 0;
    z-index: 100;
}
header .contentHeader #image-right{
    position: absolute;
    left: 70%;
    bottom: 0;
    z-index: 100;
}
header .contentHeader h1{
    font-size: 3.5em;
    text-transform: uppercase;
    line-height: 55px;
    text-align: center;
    font-family: 'Arkit';
}

header .contentHeader p{
    margin-top: 40px;
    width: 800px;
    text-align: center;
}
header .contentHeader #mountains{
    width: 100%;
}
.downloadLinks{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.downloadLinks a{
    padding: 20px 30px;
    color: #fff;
    border-radius: 80px;
    text-decoration: none;
    background-color: #fff;
    text-align: center;
    transition: .5s;
    z-index: 100;
    margin-bottom: 85px;
}
.downloadLinks a:first-child{
    color: #23272A;
}
header .contentHeader .downloadLinks a:last-child{
    background-color: #23272A;
    color: #fff;
}

/* HOVER EFFECT CONTENT HEADER */
header .contentHeader .downloadLinks a:first-child:hover{
    color: #404EED;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.219);
}
header .contentHeader .downloadLinks a:last-child:hover{
    background-color: #323535;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.219);
}


/* MAIN */

main :nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 100px;
}
main :nth-child(1) .textcontent h1{
    width: 370px;
    font-size: 2.8em;
    color: #23272A;
}
main :nth-child(1) .textcontent p{
    width: 410px;
    font-size: 1em;
    font-weight: 300;
    line-height: 30px;
    margin: 50px 0 90px 0;
}

main .secondsection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    gap: 100px;
    margin-top: 55px;
    padding: 100px 0;
}
main .secondsection .textcontentSectionTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 30px;
}
main .secondsection .textcontentSectionTwo h1{
    font-size: 2.8em;
    color: #23272A;
    width: 380px;
    line-height: 60px;
}
main .secondsection .textcontentSectionTwo p{
    width: 390px;
    font-size: 1em;
    font-weight: 300;
    line-height: 30px;
}


main .thirdsection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 150px 0;
}

main .thirdsection .textcontentThirdSection h1{
    font-size: 2.8em;
    color: #23272A;
    width: 380px;
    line-height: 50px;
}

main .thirdsection .textcontentThirdSection p{
    width: 350px;
    font-size: 1em;
    font-weight: 300;
    line-height: 30px;
    margin-top: 30px;
}

main .foursection{
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
main .foursection .textcontentFourSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main .foursection .textcontentFourSection h1{
    font-family: "Arkit";
    font-size: 2.5em;
    line-height: 45px;
    color: #23272A;
}
main .foursection .textcontentFourSection p{
    width: 1050px;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 30px;
}
main .foursection img{
    width: 1150px;
}

.download{
    position: relative;
}
.download #stars{
    width: 800px;
    height: auto;
    position: absolute;
    right: -300px;
    top: 0;
}
.download h1{
    color: #23272A;
}

.download a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #404EED;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    border-radius: 90px;
    margin: 30px 0;
    text-decoration: none;
    transition: .5s;
}
.download a:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.39);
    background-color: #5e6ae9;
}

