@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@font-face {
    font-family: 'Arkit';
    src: url(font/arkit-heavy.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
}

header{
    width: 100%;
    height: 65vh;
    background-color: #404EED;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 345px;
    font-size: .95em;
}
header nav .logo{
    width: 130px;
}
header nav .links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}
header nav .links ul li a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
header nav .loginBtn a{
    color: #23272A;
    text-decoration: none;
    font-weight: 500;
    background-color: #fff;
    padding: 10px 18px;
    border-radius: 30px;
    font-size: .8em;
}

/* HOVER EFFECTS NAV */
header nav .links ul li a:hover{
    text-decoration: underline;
} 
header nav .loginBtn a:hover {
    color: #404EED;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);
}




/* CONTENT HEADER */
svg{
    width: 20px;
    margin-right: 20px;
}

header .contentHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin-top: 140px;
    position: relative;
    overflow: hidden;
}
header .contentHeader #mountains{
    width: 100%;
    position: absolute;
    z-index: 2;
}
header .contentHeader #image-left{
    position: absolute;
    right: 70%;
    bottom: 0;
    z-index: 100;
}
header .contentHeader #image-right{
    position: absolute;
    left: 70%;
    bottom: 0;
    z-index: 100;
}
header .contentHeader h1{
    font-size: 3.5em;
    text-transform: uppercase;
    line-height: 55px;
    text-align: center;
    font-family: 'Arkit';
}

header .contentHeader p{
    margin-top: 40px;
    width: 800px;
    text-align: center;
}
header .contentHeader #mountains{
    width: 100%;
}
header .contentHeader .downloadLinks{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

header .contentHeader .downloadLinks a{
    padding: 20px 30px;
    color: #fff;
    border-radius: 80px;
    text-decoration: none;
    background-color: #fff;
    text-align: center;
    transition: .5s;
    z-index: 100;
    margin-bottom: 85px;
}
header .contentHeader .downloadLinks a:first-child{
    color: #23272A;
}
header .contentHeader .downloadLinks a:last-child{
    background-color: #23272A;
    color: #fff;
}

/* HOVER EFFECT CONTENT HEADER */
header .contentHeader .downloadLinks a:first-child:hover{
    color: #404EED;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.219);
}
header .contentHeader .downloadLinks a:last-child:hover{
    background-color: #323535;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.219);
}
